@media(max-width:900px){
    .lists{
        max-width: 700px;
        width: 100%;
        flex-wrap: wrap;
    }
    .section{
        flex-wrap: wrap;
    }
    .buttonsearch{
        color: blue;
        width: 90px;
    }
    .paragraph{
        color: red;
        background-color: blue;
        flex-wrap: wrap;
    }
}