.navigation-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.logo{
    color: red;
    margin-left: 30px;
    margin-top: 40px;
    font-family: raleway;
    font-weight: bold;
}
ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: raleway;
}
li{
    margin-right: 70px;
    margin-top: 40px;
}
.list1{
    color: black;

}
.lists{
    color: gray;
}
.nav-block{
    margin-left: 800px;
}
/* body{
    color: #F6F8F9;
} */
/* .section-img{
    background-image: url('../images/mainimage.png');
    height: 500px;
    max-width: 580px;
    margin-top: 100px;
    margin-left: 140px;
} */
.section-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: white;
}
.main-img{
    height: 500px;
    max-width: 580px;
    width: 100%;
    margin-top: 100px;
    margin-left: 140px;
}
.forms{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.form-wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    flex-direction: column;

    margin-top: 100px;
    padding-top: 127px;
    padding-left: 110px;
}
.input-list{
    width: 325px;
    height: 35px;
    color: grey;
    margin: 0 auto;
    margin-bottom: 50px;
}
label{
    margin-bottom: 10px;
    font-family: raleway;
    font-weight: bold;
}
.buttonsearch{
    border-radius: 3px;
    background-color: #FA6980;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 130px;
    height: 40px;
    border: none;
}
.button{
    margin-top: 5px;
    margin-left: 110px;
}
.section2-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
    padding: 40px;
}
.div-section{
    margin-left: 100px;
}
body{
    background-color: #F6F8F9;
}
.paragraph1{
    font-size: 20px;
    font-family: tahoma;
    width: 320px;
    margin-top: 19px;
}
.paragraph{
    width: 330px;
    height: 170px;
    font-family: tahoma;
    font-size: 13px;
    color: #A6ADB4;
    line-height: 23px;
}
.footerdiv{
    background-color: #A6ADB4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footerimg{
    margin-top: 90px;
    margin-left: 90px;
}
.footerdiv2{
    margin-top: 90px;
    margin-left: 220px;
    margin-bottom: 160px;
}
.footer-input{
    background-color: #A6ADB4;
    border: 2px solid #ccc;
    border-radius: 3px;
    max-width: 300px;
    width: 100%;
    height: 50px;
}
.footertitle{
    margin-top: 20px;
    font-size: 14px;
    font-family: tahoma;
    color: #CBD0D3;
}
.footerdiv3{
    margin-top: 100px;
    margin-left: 120px;
}
.fa-instagram,
.fa-twitter,
.fa-facebook-f,
.fa-globe-americas{
    font-size: 20px;
    margin-left: 40px;
    color: #fff;
}